.alert-modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    font-family: Arial, sans-serif;

    .alert-content {
        background-color: var(--color-13);
        border-radius: 20px;
        padding: 40px;
        width: 510px;
        height: 320px;
        display: grid;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .alert-icon img {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
        }

        .alert-title {
            font-size: 2rem;
        }

        .alert-text {
            font-size: 1.4rem;
        }

        .alert-buttons {
            margin-top: 1rem;
        }
    }
}
