.auth-body {
    min-height: 100%;
    /* background-color: var(--color-2); */
    background-color: var(--color-13);
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 0 80px 40px 80px;
    color: var(--color-5);
    
    .auth-form-container {
        display: grid;
        grid-template-rows: 100px 1fr;
        grid-template-areas: 
            "header"
            "main"
        ;
        margin: auto;
        justify-self: center;
        width: 460px;
        /* background-color: var(--color-13); */
        background-color: var(--color-2);
        border-radius: 40px;
        padding: 1.2rem;
        
        .form-header {
            grid-area: header;
            
            a {
                display: flex;
                align-items: end;
                justify-content: center;
                /* border: 1px solid green; */
                padding: 8px 0;

                img {
                    width: 90px;
                }

                span {
                    color: var(--color-5);
                    font-size: 2rem;
                    padding-top: 14px;
                    padding-left: 8px;
                }
            }
        }

        .form-main {
            grid-area: main;
            margin-top: 40px;

            h2 {
                text-align: center;
                padding: 24px 8px;
            }

            > a {
                color: var(--color-16);
                text-align: center;
            }

            form > div {
                display: flex;
                justify-content: center;
            }

            .input-container {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: 700;
                }

                input {
                    margin-bottom: 20px;
                    padding: 10px 4px;
                    font-size: 1.1rem;
                    border-width: 2px;
                    border-color: var(--color-12);
                    border-radius: 10px;
                    background-color: var(--color-4);
                }

                input:focus {
                    border-color: var(--color-10);
                    outline-color: var(--color-10);
                }
            }

            .form-buttons-container {
                margin-bottom: 40px;
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}